:root { 
    --colorPrimary: #212121;
    --colorSecondary: #2196F3;
    --colorTertiary: #757575;
    --colorLogoPrimary: #000000;
    --colorHero: #ffffff;
    --ColorFooterLink: rgba(255, 255, 255, 0.6);

    --bgColorPrimary: #FFFFFF;
    --bgColorSecondary:#2F303A;
    --bgcolorTertiary: #E5E5E5;
    --bgcolorquaternary: #F5F4FA;

    --btncolorPrimary:#FFFFFF;
    --btnbgColor:#2196F3;
    --btnbgColorHov: #188CE8;
}

body {
    font-family:'Roboto', sans-serif;
    color:var(--colorPrimary);
    background-color:var(--bgColorPrimary);
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

.container{ width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;}

.section {
    padding-top: 94px;
    padding-bottom: 94px;}

.logo {
    color:var(--colorLogoPrimary);
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.Web { color: var(--colorSecondary);
}
 /* Шапка */
.header-nav {
    margin-left: 93px;}

.div-header {
    display: flex;
    align-items: center;}

 .header {
     border-bottom: 1px solid #ececec;}

 .list, 
 .contact-list {font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;}

.list a {color: var(--colorLogoPrimary);
        text-decoration: none;
    }
        
.list a:hover,
.list a:focus {
            color: var(--colorSecondary);
        }
    
.list .current{
            color: var(--colorSecondary);
        }

        /* Контактные адреса */
.contacts {color: var(--colorTertiary);
    text-decoration: none;
}

.contacts:hover,
.contacts:focus {color:var(--colorSecondary) 
} 

/* Контент */

.first {background-color: var(--bgColorSecondary);
    padding-top: 200px;
    text-align: center;
    max-width: 1600px;
    margin: auto auto;

}
.h1-first {color: var(--colorHero);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    max-width: 696px;
    margin: auto;
}

.button-first  {color: var(--btncolorPrimary);
    background-color: var(--btnbgColor);
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin-bottom: 210px;
    }
        

.button-first:hover,
.button-first:focus {background-color:var(--btnbgColorHov)}


/* < !-- Особенности --> */
.h2-hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-list .text {
    color: var(--colorTertiary);
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
}
.feature-list{display: flex; justify-content: space-evenly;}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;}

/* < !--Чем занимаемся--> */

.work {
    padding-top: 0px;
}

.section-title {font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.work-list img{display: block;}


                 /* < !--Команда--> */

 .our-team{
     background-color: var(--bgcolorquaternary);
     padding-top: 0px;


 }
 .team-list .job-title{color: var(--colorTertiary);
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
 }
 .team-list li {
     background-color: var(--bgColorPrimary);
 }

 .name{ 
     font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

/* Footer */

.footer{color: var(--colorHero);
    background-color: var(--bgColorSecondary);
    padding: 60px 0px;
   }
   .logo-footer{
    color: var(--colorHero);
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    display: block;
   }

   .footer .link{ color: var(--ColorFooterLink);
   text-decoration: none;
}

.footer .link:hover,
.footer .link:focus {
    color: var(--colorSecondary);
    text-decoration: none;}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.address >p {margin-bottom:9px}

.ul-list>li:not(:last-child) {
    margin-bottom: 9px;}

    



/* Портфолио */

.h1-hide {display: none;}

.button-categories{background-color: var(--bgcolorquaternary);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.button-categories:hover,
.button-categories:focus {
    color:var(--colorHero);
    background-color: var(--btnbgColor);
    }

    /* < !-- Портфолио Проэктов --> */
    .button-categories{font-family: inherit;}
    
    .projects-title{color: var(--colorPrimary);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        margin-bottom: 4px;
    }

    .projects-info{ color: var(--colorTertiary);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
    }

        .list-projects a {
            text-decoration: none;
        }
                